:root{
    /* colors primary */
    --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    /* colors neutral */
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
    /* a arcolor */
    --arcolor: hsl(228, 45%, 44%);
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("../images/bg-mobile.png");
    font-family: 'Raleway', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section{
    background-color: var(--Dark-Blue);
}

.head{
    margin: 40% 24px 16px 24px;
    padding: 40px;
    border-radius: 16px 128px 16px 16px;
}

.logo img{
    width: 120px;
    padding: 0 0 16px 0;
}

.options img{
    background-color: var(--Very-Dark-Blue);
    border-radius: 12px;
}

#image1 {
    width: 20px;
    height: 20px;
    padding: 16px;
    margin: 2px;
}

#image2 {
    width: 20px;
    height: 20px;
    padding: 16px;
    margin: 2px;
}

#image3 {
    width: 20px;
    height: 22px;
    padding: 16px;
    margin: 2px;
}

.space{
    margin: 24px 24px 0px 24px;
    padding: 20px 30px 60px 30px;
    border-radius: 16px;
    color: var(--Grayish-Blue);
}

.space p{
    font-weight: 400;
    text-align: center;
}

.space p span{
    font-weight: 700;
    color: white;
}

#range{
    width: 100%;
}

.control{
    display: flex;
    justify-content: space-between;
}

.foot{
    background-color: white;
    display: inline-flex;
    padding: 0 12px;
    border-radius: 12px;
    margin: -60px 10% 125px 22%;
    align-items: center;
}

.foot h1{
    margin: 12px 8px 12px 16px;
    font-weight: 700;
    font-size: 48px;
    display: flex;
    align-items: center;
}

.foot h4{
    margin: 0 16px 0 8px;
    display: flex;
    align-items: center;
    color: var(--Grayish-Blue);
    text-transform: uppercase;
    font-weight: 700;
}